.modal-window {
  position:fixed;
  background-color: rgba(255,255,255,0.5);
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:999;
  opacity:0;
  pointer-events:none;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  transition:all 0.3s;
}
.modal-window:target {
  opacity:1;
  pointer-events:auto;
}
.modal-window>div {
  width:800px;
  position:relative;
  margin:10% auto;
  padding:2rem;
  background:#fff;
  color:#444;
}
.modal-window header {
  font-weight:bold;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

body { padding-top: 70px;
  font-family: 'Roboto';
}
p { font-size:25px; }
.alignBtn{
  position: relative;
  height: auto;
  top: 5px;
  bottom: 2px;
}
