.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

body {
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h2 {
    color: #777;
    padding-bottom: 25px;
}

p { font-size:25px; }
.alignBtn{
  position: relative;
  height: auto;
  top: 5px;
  bottom: 2px;
}
div.wrapper {
  position:  relative;
  left: 280px;
  width: 300px;
  height:-300px;
}


.btnSize {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
