.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

body { padding-top: 70px;
  font-family: 'Roboto';
}
p { font-size:25px; }
.alignBtn{
  position: relative;
  height: auto;
  top: 5px;
  bottom: 2px;
}
